* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

/*== meanmenu === */

.mean-container a.meanmenu-reveal {
	margin-top: -9px;
}

.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: none!important;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
	margin-top: -50px;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 3px;
    margin-top: -1px;
}

.mean-container a.meanmenu-reveal span > span {
    -webkit-transform: translateY(7px) !important;
    transform: translateY(7px) !important;
}


h1,
h2,
h3,
h4,
h5 {

    font-family: "Open Sans", sans-serif;
}

#map {
    width: 100%;
    height: 450px;
}

/* Image style */
#scrollUp {
    background-image: url("../img/footer/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;
    /* Width of image */
    height: 38px;
    /* Height of image */
    text-indent: -999999px;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: #2B96CC;
    text-decoration: none;
}

a,
button {
    color: #1696e7;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    color: #444;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #393542;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
}


.navbar-nav li a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


/*
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0 !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
}
*/





/*@media (min-width: 1200px) {
       
.col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%!important;
    max-width: 33.333333%!important;
}
}


@media (min-width: 992px) {
       
.col-lg-4 {
    -ms-flex: 0 0 33.333333%!important;
    -webkit-box-flex: 0!important;
    flex: 0 0 33.333333%!important;
    max-width: 33.333333%!important;
}
}

@media (min-width: 768px) {
       
.col-md-6 {
    -ms-flex: 0 0 50%!important;
    -webkit-box-flex: 0!important;
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
    
}
@media (min-width: 576px) {
.col-sm-12 {
    -ms-flex: 0 0 100%!important;
    -webkit-box-flex: 0!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
}*/

/* ======== Generic css ======== */

.time-count {
    display: inline-block;
    border: 2px solid #2d00df;
    padding: 11px 25px;
    text-align: center;
    margin-right: 51px;
    font-size: 36px;
}


.time-count span {
    display: block;
}

.times {
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}

.screenshot-img {
	display: block;
	width: 100%;
	height: 100%;
}

.img-secondary {
    opacity: 0;
}

.screenshot-img:hover .img-secondary {
    opacity: 1;
}

.section-title h2 {
    font-size: 48px;
    color: #393542;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-title p {
    font-size: 20px;
    color: #878991;
    line-height: 30px;
    margin-bottom: 60px;
}

img {
    max-width: 100%;
}

.blue-grad-bg {
    background: #2f32d4;
}
header .fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #312c2c !important;
	padding: 9px 20px;
	z-index: 2000;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 10px;
    right: 29px;
    background: #0f0cf3;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff;
    visibility: hidden;
    z-index: 999 !important;
    color: #fff;
}

.top-link:hover {
    color: #333;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

/* ======= header ====== */

.transparent-header {

    position: absolute;
    right: 0;
    left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

.header-btn {
    padding-left: 15px;
}

.header-btn > a {
    background: #6c5edf;
    padding: 14px 60px;
    border-radius: 30px;
    font-size: 18px !important;
    letter-spacing: 0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.header-btn > a:hover {
    background: #ff63a3;
    color: #fff;
}

.btn-border {
    border-color: #fff !important;
    background: transparent !important;
}

.btn-border:hover {
    background: #fff !important;
    color: #ff62a3 !important;
}

.main-menu ul {
    margin-bottom: 0;
}

.main-menu ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.main-menu ul li.active a {
    color: #fff;
}

.main-menu ul li a {
    position: relative;
    padding: 17px 0;
    display: block;
    font-size: 19px;
    color: #e7e7ec;
    font-weight: 600;
    text-decoration: none;
}

.main-menu ul li a:hover {
    -webkit-transition: .9s;
    transition: .9s;
    color: #fff;
}

.main-menu ul li a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 12px;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background: #ff88a4;
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
}

.main-menu ul li a:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);

}


img {
    max-width: 100%;
}

/* ========== Slider Area ========= */

.slider-area {
    background: url(../img/header/headerbg.png);
    background-repeat: no-repeat;
    min-height: 1190px;
}

.slider-content-space {
    padding-top: 380px;
}

.slider-img {
    margin-top: 226px;
    padding-left: 70px;
    position: absolute;
    left: 60px;
    z-index: 0;
}

.slider-text h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 20px;
    padding-right: 50px;
}
.slider-btn a {
    margin-right: 15px;
}
.slider-text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 50px;
}


.subscribe-form input {
    width: 100%;
    height: 68px;
    border-radius: 100px;
    padding: 0px 25px;
    outline: none;
    border: none;
}


.btn-s {
    -moz-user-select: none;
    background-image: linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 23px 70px;
    text-align: center;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    border: 2px solid transparent;

}

.btns:hover {
    text-decoration: none;
    color: #444;
}


img.app-shape {
    position: absolute;
    top: 10%;
    left: -43px;
}

img.app-shape-02 {
    position: absolute;
    right: -130px;
    /* top: 20px; */
    bottom: 20%;
}

.shape {
    position: absolute;
}

.shape-01 {
    top: 14%;
}

.shape-02 {
    bottom: 13%;
    left: 45%;
}

/* ========== Counter ======= */

.counter-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.single-counter h2 {
    color: #7336f1;
    font-weight: bold;
    font-size: 48px;
}

.single-counter p {
    font-size: 16px;
    color: #878991;
}

/* ======== .feature-text {
    margin: 0 45px;
}tures Section ======== */

.features-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

 .features-text h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 35px;
}

 .features-text p {
    color: #444;
    font-size: 16px;
    line-height: 26px;
    margin-top: 22px;
    padding-right: ;
}

.features-text{
    margin: 0 45px;
}

.features-bg-img {
    position: absolute;
}

img.feature-img {
    position: absolute;
    top: 20%;
    left: -6%;
}

.feature-img2 {
    margin-left: 1265px;
    margin-top: -101px;
}

/* ====== popup section ======== */
.popup-section{
    padding-bottom: 150px;
}
.video-wrapper {
    background: url(../img/video/videobg.png);
    min-height: 600px;
    -webkit-box-shadow: 0px 0px 136px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 136px 0px rgba(0, 0, 0, 0.06);
}

.video-wrapper h3 {
    font-size: 48px;
    padding-top: 144px;
}


/* ======== Works Section ========= */

.works-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 1190px;
}


.works-text h2 {
	font-size: 39px;
	margin-bottom: 20px;
	font-weight: bold;
}

.works-text p {
    font-size: 17px;
    margin-bottom: 45px;
}


/* ======== price Section ======== */


.pricing-area {

	padding-top: 100px;

}



.pricing-area.pricing-area-3 {

	margin-top: 0px;

}



ul.price-nav {
    display: inline-block;
    border: 2px solid #e7e7e7;
    border-radius: 30px;
    margin-bottom: 40px;
}



ul.price-nav li {

	display: inline-block;

}



.price-header h4 {

	font-weight: 400;

	text-transform: capitalize;

	font-size: 18px;

}



ul.price-nav li a {



	padding: 20px 40px;

	line-height: 1;

	color: #878991;

	border-radius: 30px 0px 0px 30px;

}



ul.price-nav li a.active {

	border-radius: 30px 0px 0px 30px;

	background-image: linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);

	color: #fff;

	-webkit-border-radius: 30px 0px 0px 30px;

	-moz-border-radius: 30px 0px 0px 30px;

	-ms-border-radius: 30px 0px 0px 30px;

	-o-border-radius: 30px 0px 0px 30px;

}



ul.price-nav li:nth-child(2) a {

	border-radius: 0px 30px 30px 0px;

	-webkit-border-radius: 0px 30px 30px 0px;

	-moz-border-radius: 0px 30px 30px 0px;

	-ms-border-radius: 0px 30px 30px 0px;

	-o-border-radius: 0px 30px 30px 0px;

}


.pricing-area {

	margin-bottom: -240px;

}

.price-box {

	background: #fff;

	border: 1px solid #f2f2f2;

	border-radius: 10px;

	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;

	-ms-border-radius: 20px;

	-o-border-radius: 20px;

	padding: 40px 50px;
    color: #444;

}



.price-header {

	position: relative;

	margin-bottom: 25px;

	border-bottom: 1px solid #f6f2fe;

	padding-bottom: 25px;

	margin-bottom: 35px;

}



.price-header>span {

	font-size: 18px;

	color: #30323d;

	margin-bottom: 15px;

	font-weight: 600;

}



.price-header h2 {

	font-size: 60px;

	color: #7336f1;

	font-weight: 600;

}



.price-header h2>span.sep {

	font-size: 36px;

	color: #30323d;

}



.price-header h2>span {

	font-size: 18px;

	color: #30323d;

	font-weight: 300;

}



.price-item-list ul li {

	font-size: 17px;

	margin-bottom: 17px;



}



.price-item-list ul li:last-child {

	margin-bottom: 0px;

}



/* price btn */

.price-link a.btn-p {

	padding-left: 30px;

	padding-right: 30px;

	font-size: 14px;

}


.btn-theme-border {
    border-color: #ff60a3!important;
    background: transparent!important;
    color: #393542!important;
}

.btn-theme-border:hover {
	border-color: #ff60a3!important;
	background: #ff60a3!important;
	color: #fff!important;
}

.price-link.active .btn-p {
	border-color: #ff60a3;
	background: #ff60a3;
	color: #fff;
}
.btn-p {
    -moz-user-select: none;
    background-image: -ms-linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);
    border: medium none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 23px 70px;
    text-align: center;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    border: 2px solid transparent;
}


/* ======== Testimonial area ========= */


.testimonial-heading h2 {

	font-weight: 700;

	color: #fff;

	font-size: 48px;

	line-height: 1px;

}

.bg-testimonial {
    background-image: linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
}

.mb-40{
    margin-bottom: 40px;
}

.pb-90{
    padding-bottom: 90px;
}




.test-item p {

	font-weight: 300;

	color: #fff;

	font-size: 30px;

	line-height: 48px;

	margin-bottom: 25px;

	font-style: italic;

}



.test-item span {

	color: #fff;

	font-size: 18px;

}





.test-img-item img {

	width: auto;

	display: inline-block;

	margin: 0 7px;

	transition:.3s;

	transform: scale(.8);

	-webkit-transform: scale(.8);

	-moz-transform: scale(.8);

	-ms-transform: scale(.8);

	-o-transform: scale(.8);

	-webkit-transition:.3s;

	-moz-transition:.3s;

	-ms-transition:.3s;

	-o-transition:.3s;

}

.test-space {

	padding-top: 350px;

	padding-bottom: 25px;

}



.testimonial-img-active {

	width: 420px;

	margin: auto;

	cursor: pointer;

}



.test-img-item {

	position: relative;

	width: 109px;

	height: 107px;

}

.test-img-item.slick-center img{

	transform: scale(1);

	-webkit-transform: scale(1);

	-moz-transform: scale(1);

	-ms-transform: scale(1);

	-o-transform: scale(1);

}

.test-space {
    padding-top: 415px;
}

.testimonial-area {
    padding-bottom: 130px;
}

.blue-grad-bg {
    background: #3133d5;
}

.testimonial-area .section-title h2 {
    color: #fff;
}

.testimonial-active p {
    font-size: 30px;
    color: #fff;
    line-height: 1.52;
    font-style: italic;
    margin-bottom: 60px;
}

.testimonial-active span {
    font-size: 18px;
    color: #fff;

}

.test-img-item img {
	width: auto;
	display: inline-block !important;
	margin: 0 7px;
	-webkit-transition: .3s;
	transition: .3s;
	transform: scale(.8);
	-webkit-transform: scale(.8);
}

.test-img-active {
    max-width: 390px;
    margin: auto;
    margin-top: 35px;
}

.test-img-item {
    position: relative;
    height: 109px;
    width: 109px;
}



.test-img-item.slick-center::before {
    opacity: .2;

}


/* ======== Screenshot area ========= */
.screenshot-area {
    padding-top: 100px;
    padding-bottom: 0;
}



/* ======== Faq Area ========= */

.faq-area {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../img/faq/faqbg.png);
}


.faq-wrapper p {
	margin: 0;

}
.faq-wrapper .card {

	margin-bottom: 20px;

	border-radius: 10px;

	-webkit-box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.09);

	box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.09);

	border: 0;

	border-top-left-radius: 10px;

	border-bottom-right-radius: 10px

}



.faq-wrapper .btn {

	background-image: linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);

	border-radius: 0;

	display: block;

	text-align: left;

	padding: 30px 35px;

	font-size: 18px;

	border: none;

}



.faq-wrapper .btn.collapsed {
	background: #fff;
}



.faq-wrapper .card-header:first-child {

	border-radius: 0;

}



.faq-wrapper .card-header {

	padding: 0;

}



.faq-wrapper .card-body {

	padding: 30px 35px;

}



.faq-wrapper .accordion>.card:first-of-type {

	border-bottom-right-radius: inherit;

	border-bottom-left-radius: inherit;

}



.faq-wrapper .accordion>.card {

	border-radius: 10px !important;

	-webkit-border-radius: 10px !important;

	-moz-border-radius: 10px !important;

	-ms-border-radius: 10px !important;

	-o-border-radius: 10px !important;

}



.faq-wrapper h2 a.btn {

	color: #fff;

	position: relative;

}

.faq-wrapper h2 a.btn:hover{

	color: #fff;

}

.faq-wrapper h2 a.btn.collapsed {

	color: #333;

}



.faq-wrapper h2 a.btn::after {

	content: "-";

	position: absolute;

	right: 25px;

	top: 27px;

	height: 25px;

	width: 25px;

	background: #fff;

	color: #000;

	text-align: center;

	line-height: 21px;

	border-radius: 30px;

}



.faq-wrapper h2 a.btn.collapsed::after {

	content: "+";

	background-image: linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);

	color: #fff;

}


.question {
    -webkit-box-shadow: 10px;
    box-shadow: 10px;
    padding: 20px 15px 0 15px;
    margin-bottom: 2rem;
    color: black;
    border-radius: 10px !important;
    background: #fff;
}

.question-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
    color: black;

}

.question-title h2 {
    color: black;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: gold;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.question-btn:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 10px;
}

.question-text p {
    margin-bottom: 0;
    font-size: 18px;
}

.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

.comp h3 {
    font-size: 30px;
    color: #30323d;
    line-height: 40px;
    margin-top: 110px;
}


.brand-active {
    margin-right: 20px;
    margin-top: 60px;
}

.brand-active img {
    margin-right: 20px;
    width: 200px!important;
}
.brand-active .owl-carousel .owl-item img {
    display: inline-block!important;
    width: 100%;
}

/* ====== blog area======== */

.latest-blog-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.latest-blog-img {}


.latest-blog-content {
    margin-top: -50px;
    position: relative;
    z-index: 999;
    padding: 0 40px;
}

.inner-blog {
    background: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 79px 0px rgba(0.07);
    box-shadow: 0px 0px 79px 0px rgba(0.07);
    -webkit-box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
}


.inner-blog h3 {
    font-size: 20px;
    line-height: 26px;
    color: black;
    margin-top: 10px;
}

.inner-blog h3 a {
    color: #412c2c;
}

.inner-blog h3 a:hover {
    text-decoration: none;
}



.l-b-meta span {
    margin-right: 15px;

}
.l-b-meta span i {
    color: #7b73ee;
    margin-right: 4px;
}

.l-b-meta span {
    color: #444;
    font-size: 14px;
    display: inline-block;
    margin-right: 12px;
}



.l-b-meta span a {
    color: #444;
}



/* ===== subscribe ===== */

.subscribe-space {
    padding: 62px 60px;
    border-radius: 20px;
}

.subscribe-space h2 {
    color: #fff;
    margin: 0;
}


.subscribe-form form {
    position: relative;
}

.subscribe-form button {
    position: absolute;
    padding: 21px 31px;
    right: 3px;
    top: 2px;
}

/*===== available-area ===== */

.available-area {
    padding-top: 80px;
    padding-bottom: 80px;
}

.availabel-btn img {
    float: left;
}

.btn-download-text {
    display: inline-block;
    margin-left: 15px;
    padding-top: 2px;
    position: relative;
    top: -6px;
}

.availabel-btn a {
    display: inline-block;
    -webkit-box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07);
    padding: 10px 30px 0px 30px;
    border-radius: 50px;
    margin-right: 15px;
}
.btn-download-text span {
    font-size: 14px;
    color: #38363d;
}

.btn-download-text h4 {
    font-size: 24px;
    color: #38363d;
    line-height: 1;
    font-weight: 600;
}


.availabel-text h2 {
    margin-bottom: 35px;
    color: #38363d;
    line-height: 48px;
    font-size: 35px;
}


/* ==== footer === */
.footer-text {
    border-top: 1px solid #e5e5e5;
    padding: 25px;
}

.footer-text p {
    color: #38363d;
    font-size: 15px;
}

/* mobile menu */

.mobile-menu span {
    color: #fff;
    font-size: 30px;
    float: right;
    display: none;
    margin-top: -45px;
}

.overlay {
    height: 100%;
    width: 0;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

.overlay-content {
    text-align: center;
    position: relative;
    top: 20%;
    width: 100%;
}

.overlay-content a {
    display: block;
    color: #999;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 0;
    text-transform: uppercase;
}

.overlay-content a:hover {
    text-decoration: none;
    color: #fff;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #999;
}


.closebtn:hover {
    color: #fff;
    text-decoration: none;
}
